h1{
    color: blue;
}
h2{
    color: blue;
}
p{
    color: rgb(250, 250, 250);
    background-color: rgb(220, 20, 60);
    padding: 15px;
    border: 15px solid rgb(158, 175, 174);
    border-top: 20px solid rgb(225, 225, 233);
    margin: 50px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
img{
    margin:1% 5%;
}
